@model VehicleRequisitionApp.Models.TblRequestApprovalDetail

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TblRequestApprovalDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RequisitionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequisitionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovalAuthorityId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovalAuthorityId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovalStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovalStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RequestApprovalDetailId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
