@model VehicleRequisitionApp.Models.LookupProjectLeader

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="col-md-offset-3 col-lg-6 col-md-offset-3">
        <fieldset style="padding-top: 20px">
            <legend>Assign Project Leader</legend>
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                <div class="form-group">
                    <label class="control-label col-md-2">SL No</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SortingSerialNo, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.SortingSerialNo, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Employees List</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.EmpId, new SelectList(@ViewBag.EmpInfo, "empId", "empInitialAndName"), "--Select--", htmlAttributes: new {@class = "form-control"})
                        @*@Html.DropDownList("EmpId", null, htmlAttributes: new {@class = "form-control",style="display:none"})*@
                        @Html.ValidationMessageFor(model => model.EmpId, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <label class = "control-label col-md-2">Project List</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.ProjectId, new SelectList(@ViewBag.ProjectInfo, "ProjId", "CodeAndTitle"), "--Select--", htmlAttributes: new {@class = "form-control"})
                        @*@Html.DropDownList("ProjectId", null, htmlAttributes: new {@class = "form-control"})*@
                        @Html.ValidationMessageFor(model => model.ProjectId, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Assign" class="btn btn-success pull-right"/>
                    </div>
                </div>
            </div>
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </fieldset>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
