@model IEnumerable<VehicleRequisitionApp.Models.LookupProject>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles
{
    <link href="~/Content/DataTables/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/DataTables/jquery.dataTables.css" rel="stylesheet" />
    @*<link href="~/Content/bootstrap-dialog.css" rel="stylesheet" />*@
    @*<link href="~/Content/DataTables/buttons.dataTables.min.css" rel="stylesheet" />*@
    <link href="~/Content/DataTables/buttons.dataTables.css" rel="stylesheet" />
    <link href="~/Content/DataTables/buttons.jqueryui.css" rel="stylesheet" />
    <link href="~/Content/DataTables/dataTables.jqueryui.css" rel="stylesheet" />
    <style>
        #table_scroll_div {
            /*background-color: #CCE3EA;*/
            width: auto;
            /* height: 100px; */
            /*border: 1px solid #2F6621;*/
            /* overflow: scroll; */
            /*padding: 20px;*/
            overflow: auto;
        }
    </style>
}
<fieldset>
    <legend>Project List</legend>

    <div id="table_scroll_div">
        <table id="myTable" class="table table-bordered">
            <thead>
            <tr>
                @*<th>
                    <label></label>
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.ProjectCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectClient)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectCluster)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectPl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Exclude)
                </th>


                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.SortingSerialNo)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectClient)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectCluster)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectPl)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Exclude)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new {id = item.ProjectId}) |
                        @Html.ActionLink("Details", "Details", new {id = item.ProjectId}) |
                        @Html.ActionLink("Delete", "Delete", new {id = item.ProjectId})
                    </td>
                </tr>
            }
            </tbody>

        </table>
    </div>
</fieldset>
@section scripts
{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @*@*<script src="~/Scripts/bootstrap-dialog.js"></script>*@

    @*<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>*@
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/DataTables/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/DataTables/buttons.flash.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.jqueryui.js"></script>
    <script src="~/Scripts/DataTables/buttons.jqueryui.min.js"></script>
    <script src="~/Scripts/DataTables/pdfmake.min.js"></script>
    <script src="~/Scripts/DataTables/jszip.min.js"></script>
    <script src="~/Scripts/DataTables/vfs_fonts.js"></script>
    <script src="~/Scripts/DataTables/buttons.html5.min.js"></script>
    <script src="~/Scripts/DataTables/buttons.print.min.js"></script>
    <script src="~/Scripts/DataTables/buttons.colVis.js"></script>

    <script>
            $(function () {
                //$('#myTable').DataTable({
                //    aLengthMenu: [[5,10, 20,50, 100, -1],
                //                  [5,10, 20,50, 100, "All"]],
                //    iDisplayLength: 100,
                //    "sDom": 'Rfrtlip'
                //});
                $('#myTable').DataTable({
                    //sDom: 'Rfrtlip',
                    dom: 'Bfrtip',

                    //lengthChange: true,
                    aLengthMenu: [[5, 10, 20, 50, 100, -1],
                                  [5, 10, 20, 50, 100, "All"]],
                    //sDom: 'Rfrtlip',
                    buttons: [
                        'pageLength',
                        {
                        //extend: 'pdf',
                        //footer: false,
                        extend: 'pdfHtml5',
                        orientation: 'landscape',
                        pageSize: 'A4',

                        exportOptions: {
                            columns: [0, 1, 2,3,4,5]
                        }
                    },
                        //{
                        //    extend: 'csv',
                        //    footer: false,
                        //    exportOptions: {
                        //        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                        //    }
                        //},
                        {
                            extend: 'excel',
                            footer: false,
                            exportOptions: {
                                columns: [0, 1, 2, 3, 4, 5]
                            }
                        },

                        {
                            extend: 'print',
                            footer: false,
                            exportOptions: {
                                columns: [0, 1,2, 3, 4, 5]
                            }
                        }
                        //,
                        //{
                        //    extend: 'colvis',
                        //    footer: false
                        //}
                    ]

                });
            });

    </script>
}


