@model VehicleRequisitionApp.Models.ChangePassWord
@{
    ViewBag.Title = "ChangePassWord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div id="loginbox" style="margin-top: 0;" class="mainbox col-md-offset-4 col-md-4 col-md-offset-4">

        <label style="color: red">@TempData["Error"]</label>
        <div class="panel panel-info">

            <div class="panel-heading">
                <div class="panel-title">Change PassWord</div>
                <div style="float: right; font-size: 80%; position: relative; top: -10px">
                    @*<a href="#">Forgot password?</a>*@
                </div>
            </div>
            <div style="padding-top: 20px" class="panel-body">
                <div style="display: none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                @using (Html.BeginForm("ChangePassWord", "TblUsers", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="row" style="display: none">
                        <div class="col-md-2">
                            @Html.LabelFor(m => m.UserId, "Initial", htmlAttributes: new { @class = "control-label col-md-3" })
                        </div>
                        <div class="col-md-9">
                            @Html.EditorFor(m => m.UserId, new { htmlAttributes = new { @class = "form-control", @Value = @Session["UserId"] } })
                            @Html.ValidationMessageFor(m => m.UserId, "", new { @class = "text-danger" })
                            @*<label>@Session["UserId"]</label>*@
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.OldPassword, "Old Password", htmlAttributes: new { @class = "control-label col-md-2", style = "padding: 0;" })
                        </div>
                        <div class="col-md-9">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", value = @Session["UserId"] })
                            @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row" style="margin-top: 5px">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.Password, "New Password", htmlAttributes: new { @class = "control-label col-md-2", style = "padding: 0;" })
                        </div>
                        <div class="col-md-9">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", value = @Session["UserId"] })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row" style="margin-top: 5px">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.ConfirmPassword, "Confirm Password", htmlAttributes: new { @class = "control-label col-md-2", style = "padding: 0;" })
                        </div>
                        <div class="col-md-9">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", value = @Session["UserId"] })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row" style="margin-top: 10px">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="submit" class="btn btn-default pull-right">Change Password</button>
                        </div>

                    </div>
                }


            </div>
        </div>
    </div>
</div>