@using System.Linq
@using VehicleRequisitionApp.Models
@*@model VehicleRequisitionApp.Models.LookUpEmployee*@
@model System.Collections.Generic.IEnumerable<VehicleRequisitionApp.Models.CombinedRequisition>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles
{
    <style>
        .dl-horizontal dt {
            clear: left;
            text-align: left !important;
        }

        #table_scroll_div {
            /*background-color: #CCE3EA;*/
            width: auto;
            /* height: 100px; */
            /* border: 1px dotted black; */
            /* overflow: scroll; */
            /* padding: 20px; */
            overflow: auto;
            /*border-radius: 5px;*/
        }

        th {
            text-align: center;
        }

        td {
            text-align: center;
        }

        table {
            border: 1px solid #49B054 !important;
            border-collapse: collapse;
        }

            table th, table td {
                border: 1px solid #49B054 !important;
                vertical-align: middle !important;
                text-align: center !important;
            }
    </style>
}
<div class="row">
    <div class="col-md-offset-1 col-lg-10 col-md-offset-1">
        <fieldset>
            <legend>Today's Vehicles Status</legend>
            <div id="table_scroll_div">
                <table class="table table-hover table-bordered">
                    <thead style="background-color: #C3E6CB">
                        <tr>
                            <th><label>Request Time</label></th>
                            <th><label>Location</label></th>
                            <th><label>Requester's Name</label></th>
                            <th><label>Requester's Phone No</label></th>
                            <th><label>Driver's Name</label></th>
                            <th><label>Driver's Phone No</label></th>
                            <th><label>Vehicle No</label></th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (TblRequisitionDetail item in ViewBag.CarStatus)
                        {

                            <tr style="background-color: #e5f5f7">
                                <td>@item.RequiredFromDate.ToString("hh:mm tt")</td>
                                <td>@item.Place</td>
                                <td>@item.LookUpEmployee.EmpFullName</td>
                                <td>@item.LookUpEmployee.EmpMobile</td>
                                <td>@item.LookUpDriverEmployee.EmpFullName</td>
                                <td>@item.LookUpDriverEmployee.EmpMobile </td>
                                <td>@item.LookupVehicles.VehicleNo</td>
                            </tr>
                        }
                        @*@foreach (var item in ViewBag.CombinedCarStatus)
                            {

                                    <tr style="background-color: #e5f5f7">
                                        <td>a</td>
                                        <td>@for(int i=0;i<@item.Place.Length;i++)
                                            {
                                                @item[0].Place[i]
                                            }
                                        </td>
                                        <td>@item.EmpFullName.ToString()</td>
                                        <td>@item.EmpMobile.ToString()</td>
                                        <td>@item.DriverName.ToString()</td>
                                        <td>@item.DriverPhoneNo.ToString() </td>
                                        <td>@item.VehicleNo.ToString()</td>

                                    </tr>

                            }*@
                       
                        @foreach(var item in Model)
                        {
                            <tr style="background-color: #e5f5f7">
                                <td> @item.RequiredFromDate.ToString("hh:mm tt")</td>
                                <td> @item.Place</td>
                                <td> @item.EmpFullName</td>
                                <td>@item.EmpMobile</td>
                                <td>@item.DriverName</td>
                                <td>@item.DriverPhoneNo</td>
                                <td>@item.VehicleNo</td>
                            </tr>
                          
                        }

                        @if (ViewBag.CarStatus.Count == 0 && Model.Count()==0)
                        {
                            <tr>
                                <td colspan="7">
                                    <label style="width: 120px; color: bisque; margin-top: 10px; text-align: center">No Requisition</label>
                                </td>
                            </tr>
                        }

                    </tbody>

                </table>
            </div>
        </fieldset>
    </div>
</div>






@*<div class="row">
        <div class="col-md-offset-2 col-lg-8 col-md-offset-2">

            <h2>Profile</h2>
            <div class="col-lg-8">
                <table class="table table-hover">
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.EmpFullName)</td>
                        <td>@Html.DisplayFor(model => model.EmpFullName)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.LookUpDivision.DivFullName)</td>
                        <td>@Html.DisplayFor(model => model.LookUpDivision.DivFullName)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.LookUpEmployeeType.EmpType)</td>
                        <td>@Html.DisplayFor(model => model.LookUpEmployeeType.EmpType)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.EmpPinNo)</td>
                        <td>@Html.DisplayFor(model => model.EmpPinNo)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.EmpInitial)</td>
                        <td>@Html.DisplayFor(model => model.EmpInitial)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.EmpDesignation)</td>
                        <td>@Html.DisplayFor(model => model.EmpDesignation)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.EmpLevel)</td>
                        <td>@Html.DisplayFor(model => model.EmpLevel)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.EmpEmail)</td>
                        <td>@Html.DisplayFor(model => model.EmpEmail)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.EmpMobile)</td>
                        <td>@Html.DisplayFor(model => model.EmpMobile)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.EmpRoomNo)</td>
                        <td>@Html.DisplayFor(model => model.EmpRoomNo)</td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.EmpPresentAddress)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.EmpPresentAddress)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.EmpNid)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.EmpNid)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.EmpPaasportNo)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.EmpPaasportNo)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.EmpBloodGroup)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.EmpBloodGroup)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.EmpHighestDegree)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.EmpHighestDegree)
                        </td>

                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.EmpHighestDegreeMajorSubject)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.EmpHighestDegreeMajorSubject)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.EmpCareerSummary)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.EmpCareerSummary)
                        </td>
                    </tr>

                </table>
            </div>
            <div class="col-lg-4">
                <img src="~/UploadedFiles/@ViewBag.Image" height="180" width="160"/>
            </div>
        </div>
    </div>*@


