@model VehicleRequisitionApp.Models.TblUser
@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">   
    <div class="col-lg-12">
        <div id="loginbox" style="margin-top: 0;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <label style="Color:Red">@TempData["Registration"]</label>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Sign In</div>
                    <div style="float: right; font-size: 80%; position: relative; top: -10px">
                        <a href="#">Forgot password?</a>
                    </div>
                </div>
                <div style="padding-top: 20px" class="panel-body">
                    <div style="display: none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                    @using (Html.BeginForm("LogIn", "TblUsers", new {ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new {@class = "text-danger"})

                        <div class="form-group">
                            @Html.LabelFor(model => model.LookUpEmployee.EmpInitial, "Initial", htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                               <input type="text" name="initials" class="form-control"/>
                                @*@Html.DropDownList("EmpId", null,"-- Select --", htmlAttributes: new {@class = "form-control"})*@
                                @*@Html.ValidationMessageFor(model => model.LookUpEmployee.EmpInitial, "", new {@class = "text-danger"})*@
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Password, "Password", htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @*<input type="password" name="Password" class="form-control" />*@
                                @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
                                @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div style="" class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-8">
                                    @*<a href="#">Not a member yet? Register Now !</a>*@
                                    @Html.ActionLink("Not a member yet? Register Now !", "Register", "TblUsers")
                                </div>
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-default pull-right">Log in</button>
                                    @*<a id="btn-fblogin" href="#" class="btn btn-primary">Login with Facebook</a>*@
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

