@model VehicleRequisitionApp.Models.TblUser
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <label style="Color:Green">@TempData["Registration"]</label>
    <div class="col-lg-12">
        <div id="loginbox" style="margin-top: 0;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">

                <div class="panel-heading">
                    <div class="panel-title">Registration</div>
                    <div style="float: right; font-size: 80%; position: relative; top: -10px">
                        @Html.ActionLink("Sign In Now!", "LogIn", "TblUsers")
                    </div>
                </div>
                <div style="padding-top: 20px" class="panel-body">
                    <div style="display: none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                    @using (Html.BeginForm("Register", "TblUsers", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.EmpId, "Initial", htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.DropDownList("EmpId", null, "--Select--", htmlAttributes: new {@class = "form-control"})
                                @Html.ValidationMessageFor(model => model.EmpId, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div id="info" style="display: none">
                          
                                 

                         </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Password, "Password", htmlAttributes: new {@class = "control-label col-md-2"})
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
                                    @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
                                </div>
                            </div>

                            <div style="" class="row">
                                
                                    <div class="col-md-offset-6 col-md-6">
                                        <button type="submit" class="btn btn-default pull-right">Register</button>
                                        @*<a id="btn-fblogin" href="#" class="btn btn-primary">Login with Facebook</a>*@
                                    </div>
                                
                            </div>
                            }

                        </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
     
        $("#EmpId").change(function () {

            var empId = $("#EmpId").val();
            var json = { empId: empId };
            $("#info").empty();

            $.ajax({
                type: "POST",
                url: '@Url.Action("EmployeeDetails", "TblUsers")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                dataType: "json",
                success: function (data) {
                    $.each(data, function (key, value) {

                        $("#info").append('<div class="form-group"><label class="control-label col-md-2">Name </label>' +
                                         '<div class="col-md-10"><input type="textbox" class="form-control" value="' + value.Name + '"readonly></div></div>'+
                                         '<div class="form-group"><label class="control-label col-md-2">Email </label>' +
                                         '<div class="col-md-10"><input type="textbox" name="email" class="form-control" value="' + value.Email + '"></div></div>' +
                                         '<div class="form-group"><label class="control-label col-md-2">Phone No </label>' +
                                         '<div class="col-md-10"><input type="textbox" name="phoneNo" class="form-control" value="' + value.PhoneNo + '"></div></div>');
                        $("#info").show();
                        
                    });

                }
            });           
            });
            
    </script>
}


