@model VehicleRequisitionApp.Models.TblRequisitionDetail

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TblRequisitionDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LookUpEmployee.EmpInitial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LookUpEmployee.EmpInitial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LookupProject.ProjectCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LookupProject.ProjectCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LookupRequisitionCategorys.RequisitionCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LookupRequisitionCategorys.RequisitionCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestSubmissionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestSubmissionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequiredFromDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequiredFromDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequiredToDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequiredToDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Place)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActuallyUsedFromDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActuallyUsedFromDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActuallyUsedToDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActuallyUsedToDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssignedDriverEmpId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignedDriverEmpId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssignedVehicleId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignedVehicleId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
