@using Microsoft.Ajax.Utilities
@using VehicleRequisitionApp.Models
@model IEnumerable<VehicleRequisitionApp.Models.TblRequisitionDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ApprovalStatus = 0;
}

<h2>Requisition List</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

@*<table id="myTable" class="table table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LookUpEmployee.EmpFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LookUpEmployee.EmpDesignation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LookupProject.ProjectCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LookupRequisitionCategorys.RequisitionCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestSubmissionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequiredFromDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequiredToDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.AssignedDriverEmpId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedVehicleId)
            </th>

            <th>
                Status
            </th>
            @if (Convert.ToInt32(Session["UserGroupId"]) != 1)
            {
                <th>
                    Action
                </th>
            }
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LookUpEmployee.EmpFullName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.LookUpEmployee.EmpDesignation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LookupProject.ProjectCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LookupRequisitionCategorys.RequisitionCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestSubmissionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequiredFromDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequiredToDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Place)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reason)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => @item.LookUpDriverEmployee.EmpFullName)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LookupVehicles.VehicleNo)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.LookUpState.StateName)
                </td>

                @if (Convert.ToInt32(Session["UserGroupId"]) != 1)
                {
                    if (Convert.ToInt32(Session["UserGroupId"]) == 3)
                    {
                        <td>
                            @Html.ActionLink("Approve Now", "DirectorApprove", new {requisitionId = item.RequisitionId}, new {@class = "btn btn-success"})
                        </td>
                    }
                    if (Convert.ToInt32(Session["UserGroupId"]) == 2)
                    {
                        <td>
                            @Html.ActionLink("Approve Now", "PlApprove", new {requisitionId = item.RequisitionId}, new {@class = "btn btn-success"})
                        </td>
                    }
                }


                @if (Convert.ToInt32(Session["UserGroupId"]) == 6)
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new {id = item.RequisitionId}) |
                        @Html.ActionLink("Details", "Details", new {id = item.RequisitionId}) |
                        @Html.ActionLink("Delete", "Delete", new {id = item.RequisitionId})
                    </td>
                }
            </tr>
        }
    </table>*@

<table id="myTable" class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LookUpEmployee.EmpFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LookUpEmployee.EmpDesignation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LookupProject.ProjectCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LookupRequisitionCategorys.RequisitionCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestSubmissionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequiredFromDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequiredToDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reason)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.AssignedDriverEmpId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignedVehicleId)
        </th>

        <th>
            Status
        </th>
        @if (Convert.ToInt32(Session["UserGroupId"]) != 1)
        {
            <th>
                Action
            </th>
        }
    </tr>
    @try
    {
        foreach (TblRequisitionDetail item in ViewBag.ApproveRequisition)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LookUpEmployee.EmpFullName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.LookUpEmployee.EmpDesignation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LookupProject.ProjectCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LookupRequisitionCategorys.RequisitionCategory)
                </td>
                <td>
                    @item.RequestSubmissionDate
                </td>
                <td>
                    @item.RequiredFromDate.ToString("hh:mm tt")
                </td>
                <td>
                    @item.RequiredToDate.ToString("hh:mm tt")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Place)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reason)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => @item.LookUpDriverEmployee.EmpFullName)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LookupVehicles.VehicleNo)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.LookUpState.StateName)
                </td>

                @*@if (Convert.ToInt32(Session["UserGroupId"]) != 1)
                    {
                        if (Convert.ToInt32(Session["UserGroupId"]) == 3)
                        {
                            <td>
                                @Html.ActionLink("Approve Now", "DirectorApprove", new { requisitionId = item.RequisitionId }, new { @class = "btn btn-success" })
                            </td>
                        }
                        if (Convert.ToInt32(Session["UserGroupId"]) == 2)
                        {
                            <td>
                                @Html.ActionLink("Approve Now", "PlApprove", new { requisitionId = item.RequisitionId }, new { @class = "btn btn-success" })
                            </td>
                        }
                    }*@

            </tr>
        }

    }
    catch (Exception)
    {

    }


    @try
    {
        foreach (TblRequisitionDetail item in ViewBag.NotApproveRequisition)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LookUpEmployee.EmpFullName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.LookUpEmployee.EmpDesignation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LookupProject.ProjectCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LookupRequisitionCategorys.RequisitionCategory)
                </td>
                <td>
                    @item.RequestSubmissionDate
                </td>
                <td>
                    @item.RequiredFromDate.ToString("hh:mm tt")
                </td>
                <td>
                    @item.RequiredToDate.ToString("hh:mm tt")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Place)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reason)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => @item.LookUpDriverEmployee.EmpFullName)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LookupVehicles.VehicleNo)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.LookUpState.StateName)
                </td>

                @if (Convert.ToInt32(Session["UserGroupId"]) != 1)
                {
                    if (Convert.ToInt32(Session["UserGroupId"]) == 3)
                    {
                        <td>
                            @Html.ActionLink("Approve Now", "DirectorApprove", new { requisitionId = item.RequisitionId }, new { @class = "btn btn-success" })
                        </td>
                    }
                    if (Convert.ToInt32(Session["UserGroupId"]) == 2)
                    {
                        <td>
                            @Html.ActionLink("Approve Now", "PlApprove", new { requisitionId = item.RequisitionId }, new { @class = "btn btn-success" })
                        </td>
                    }
                    if (Convert.ToInt32(Session["UserGroupId"]) == 6)
                    {
                        <td>

                            @Html.ActionLink("Edit", "Edit", new { id = item.RequisitionId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.RequisitionId })
                            @Html.ActionLink("Approve Now", "AdminTransportApprove", new { requisitionId = item.RequisitionId }, new { @class = "btn btn-success" })
                            @*@Html.ActionLink("Delete", "Delete", new { id = item.RequisitionId })*@
                        </td>
                    }


                }

            </tr>
        }
    }
    catch (Exception)
    {

    }
</table>
