@using VehicleRequisitionApp.Models
@model IEnumerable<VehicleRequisitionApp.Models.TblRequisitionDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Requisition List</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<table id="myTable" class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LookUpEmployee.EmpFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LookUpEmployee.EmpDesignation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LookupProject.ProjectCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LookupRequisitionCategorys.RequisitionCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestSubmissionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequiredFromDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequiredToDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reason)
        </th>
        @if (Convert.ToInt32(Session["UserGroupId"]) == 6)
        {
            <th>
                @Html.DisplayNameFor(model => model.ActuallyUsedFromDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActuallyUsedToDate)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.AssignedDriverEmpId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignedVehicleId)
        </th>
        @*@if (Convert.ToInt32(Session["UserGroupId"])!= 1)
        {*@
            <th>
                Status
            </th>
        @*}*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LookUpEmployee.EmpFullName)
            </td>
            <td>
                @Html.DisplayFor(model => item.LookUpEmployee.EmpDesignation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LookupProject.ProjectCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LookupRequisitionCategorys.RequisitionCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestSubmissionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequiredFromDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequiredToDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            @if (Convert.ToInt32(Session["UserGroupId"]) == 6)
            {

                <td>
                    @Html.DisplayFor(modelItem => item.ActuallyUsedFromDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActuallyUsedToDate)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => @item.LookUpDriverEmployee.EmpFullName)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LookupVehicles.VehicleNo)
            </td>
            @if(@Html.DisplayFor(modelItem => item.LookUpDriverEmployee.EmpFullName).ToString()!="" && @Html.DisplayFor(modelItem => item.LookUpDriverEmployee.EmpFullName) !=null)
            {
                <td>
                    <button class="btn-success">Approve</button>
                </td>

            }
            else
            {
                <td>
                    <button class="btn-danger">Not Approve</button>
                </td>
            }
            @if (Convert.ToInt32(Session["UserGroupId"]) == 6)
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.RequisitionId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.RequisitionId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.RequisitionId })
                </td>
            }
        </tr>
    }

</table>
