@using Microsoft.Ajax.Utilities
@using VehicleRequisitionApp.Models
@model IEnumerable<VehicleRequisitionApp.Models.TblRequisitionDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ApprovalStatus = 0;
}


@section styles
{
    <link href="~/Content/DataTables/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-dialog.css" rel="stylesheet" />
    <link href="~/Content/DataTables/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/buttons.dataTables.css" rel="stylesheet" />
    <link href="~/Content/DataTables/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/DataTables/buttons.jqueryui.css" rel="stylesheet" />
    <link href="~/Content/DataTables/dataTables.jqueryui.css" rel="stylesheet" />
    <style>
        #table_scroll_div {
            /*background-color: #CCE3EA;*/
            width: auto;
            /* height: 100px; */
            /*border: 1px solid #2F6621;*/
            /* overflow: scroll; */
            /*padding: 20px;*/
            overflow: auto;
        }
    </style>
}
<fieldset>
    <legend>Previous Requisition List</legend>
@*<h2>Previous Requisition List</h2>*@
<div id="table_scroll_div">
    <table id="myTable" class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LookUpEmployee.EmpInitial)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.LookUpEmployee.EmpDesignation)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.LookupProject.ProjectCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LookupRequisitionCategorys.RequisitionCategory)
                </th>
                <th>
                    <label>Submission DateTime</label>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RequiredFromDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RequiredToDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Place)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reason)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.AssignedDriverEmpId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AssignedVehicleId)
                </th>

                <th>
                    Status
                </th>
                <th>
                    Action
                </th>

            </tr>
        </thead>
        <tbody>
            @try
            {
                foreach (TblRequisitionDetail item in ViewBag.ApproveRequisition)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LookUpEmployee.EmpInitial)
                        </td>
                        @*<td>
                            @Html.DisplayFor(model => item.LookUpEmployee.EmpDesignation)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.LookupProject.ProjectCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LookupRequisitionCategorys.RequisitionCategory)
                        </td>
                        <td>
                            @item.RequestSubmissionDate.ToString("dd-MM-yyyy HH:mm:ss")
                        </td>
                        <td>
                            @item.RequiredFromDate.ToString("hh:mm tt")
                        </td>
                        <td>
                            @item.RequiredToDate.ToString("hh:mm tt")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Place)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Reason)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => @item.LookUpDriverEmployee.EmpFullName)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LookupVehicles.VehicleNo)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.LookUpState.StateName)
                        </td>



                        @if (Convert.ToInt32(Session["UserGroupId"]) >= 6)
                        {
                            if (item.StateId >= 2) //RMO
                            {
                                <td>
                                    @Html.ActionLink("Details", "Details", new { id = item.RequisitionId })
                                    @Html.ActionLink("Edit", "Edit", new { id = item.RequisitionId }, new { @class = "btn btn-success" })
                                    @Html.ActionLink("Delete", "Delete", new { id = item.RequisitionId })
                                </td>
                            }
                        }

                    </tr>
                }

            }
            catch (Exception)
            {

            }
        </tbody>
    </table>
</div>
@if (Convert.ToInt32(Session["UserGroupId"]) >= 6) 
{
    @*@Html.ActionLink("Previous Requisition", "PreviousRequisition")*@
}
    </fieldset>
    @section scripts
{
        <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
        <script src="~/Scripts/bootstrap-dialog.js"></script>
        <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
        <script src="~/Scripts/DataTables/dataTables.buttons.min.js"></script>
        <script src="~/Scripts/DataTables/buttons.flash.min.js"></script>
        <script src="~/Scripts/DataTables/dataTables.jqueryui.js"></script>
        <script src="~/Scripts/DataTables/buttons.jqueryui.min.js"></script>
        <script src="~/Scripts/DataTables/pdfmake.min.js"></script>
        <script src="~/Scripts/DataTables/jszip.min.js"></script>
        <script src="~/Scripts/DataTables/vfs_fonts.js"></script>
        <script src="~/Scripts/DataTables/buttons.html5.min.js"></script>
        <script src="~/Scripts/DataTables/buttons.print.min.js"></script>
        <script src="~/Scripts/DataTables/buttons.colVis.js"></script>

        <script>
            $(function () {
                //$('#myTable').DataTable({
                //    aLengthMenu: [[5,10, 20,50, 100, -1],
                //                  [5,10, 20,50, 100, "All"]],
                //    iDisplayLength: 100,
                //    "sDom": 'Rfrtlip'
                //});
                $('#myTable').DataTable({                    
                    //sDom: 'Rfrtlip',
                    dom: 'Bfrtip',
                    
                    //lengthChange: true,
                    aLengthMenu: [[5, 10, 20, 50, 100, -1],
                                  [5, 10, 20, 50, 100, "All"]],
                    //sDom: 'Rfrtlip',
                    buttons: [
                        'pageLength',
                        {
                        //extend: 'pdf',
                        //footer: false,
                        extend: 'pdfHtml5',
                        orientation: 'landscape',
                        pageSize: 'A4',

                        exportOptions: {
                            columns: [0, 1, 2,3,4,5,6,7,8,9,10]
                        }
                    },
                        //{
                        //    extend: 'csv',
                        //    footer: false,
                        //    exportOptions: {
                        //        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                        //    }
                        //},
                        {
                            extend: 'excel',
                            footer: false,
                            exportOptions: {
                                columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                            }
                        },

                        {
                            extend: 'print',
                            footer: false,
                            exportOptions: {
                                columns: [0, 1,2, 3, 4, 5, 6, 7, 8, 9, 10]
                            }
                        }
                        //,
                        //{
                        //    extend: 'colvis',
                        //    footer: false
                        //}
                    ]
                    
                });
            });

        </script>

    }


