@using VehicleRequisitionApp.Models
@model VehicleRequisitionApp.Models.TblRequisitionDetail
@*@{
        ViewBag.Title = "Print";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@

@section Styles {
    <style type="text/css">
        p label {
            font-family: "Times New Roman";
            /*color: black;*/
        }

        label {
            font-family: italic;
        }
    </style>
}
<div class="navbar-fixed-top" style="margin-left: 50px">

    @*<img src="~/Images/logo.png" height="80"/>  <img class="pull-right" src="~/Images/CEGIS_logo.png" height="60" />*@
    <h3 style="text-align: center">CEGIS, DHAKA</h3>
    <h4 style="text-align: center; text-decoration: underline">VEHICLES REQUISITION</h4>
    <h4 style="text-align: center">(OFFICIAL)</h4>
    <hr />

    <div class="row" style="margin-top: 30px">
        @*<div>
                <p style="font-size: 20px" class="pull-right"><b>Requisition Catergory : </b>@Model.LookupRequisitionCategorys.RequisitionCategory</p> @Html.EditorFor(model => model.LookupRequisitionCategorys.RequisitionCategory, new {htmlAttributes = new {@class = "form-control"}})
            </div>*@
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <p style="font-size: 18px; margin-right: 20px" class="pull-right">
                    <b>Date :</b>
                    <label>@Model.RequestSubmissionDate.ToString("dd-MM-yyyy")</label>
                </p>
            </div>
        </div>
        <div class="col-md-12" style="margin-top: 30px">
            <p style="margin-right: 1px; font-size: 18px">
                <b>Requester's Name : </b>
                <label> @Model.LookUpEmployee.EmpFullName</label>
            </p>
        </div>
        <div class="col-md-12">
            <p style="margin-right: 1px; font-size: 18px">
                <b>Designation : </b>
                <label style="min-width: 310px">@Model.LookUpEmployee.EmpDesignation</label>
                <b>Project : </b>
                <label>@Model.LookupProject.ProjectCode</label>
            </p>
        </div>
        <div class="col-md-12">
            <p style="margin-right: 1px; font-size: 18px">
                <b>Date Required :</b>
                <label> @Model.RequiredFromDate.ToString("dd-MM-yyyy")</label>
            </p>
        </div>
        <div class="col-md-12">
            <p style="margin-right: 1px; font-size: 18px">
                <b>Time Required : </b>
                <label style="min-width: 283px">@Model.RequiredFromDate.ToString("t") </label>
                <b>hour to : </b>
                <label>@Model.RequiredToDate.ToString("t")</label> 
                &nbsp;<b>hour</b>
            </p>
        </div>
        <div class="col-md-12">
            <p style="margin-right: 1px; font-size: 18px">
                <b>Place : </b><label> @Model.Place</label>
            </p>
        </div>
        <div class="col-md-12">
            <p style="margin-right: 1px; font-size: 18px">
                <b>Reason : </b><label> @Model.Reason</label>
            </p>
        </div>
        <div class="col-md-12">

            <p style="margin-right: 1px; font-size: 18px">
                <b>Actual Ttime used from :</b>
                <label style="min-width: 73px">@Model.UsedFromKM &nbsp;</label>
                <b>to :</b>
                <label style="min-width: 73px">@Model.UsedToKM &nbsp; </label>
                <b>km. From : </b>
                <label style="min-width: 100px">@(Model.ActuallyUsedFromDate != null ? Convert.ToDateTime(Model.ActuallyUsedFromDate).ToString("t") : null)</label>
                <b>to :&nbsp;</b>
                <label>@(Model.ActuallyUsedFromDate != null ? Convert.ToDateTime(Model.ActuallyUsedToDate).ToString("t") : null)</label>
            </p>
        </div>
        <div class="col-md-12">
            <p style="margin-right: 1px; font-size: 18px">
                <b>Driver Assigned : </b>
                @try
                {
                    <label>@Model.LookUpDriverEmployee.EmpFullName</label>
                }
                catch { }
            </p>
        </div>
        <div class="col-md-12">
            <p style="margin-right: 1px; font-size: 18px">
                <b>Vehicle No : </b>
                @try
                {
                    <label> @Model.LookupVehicles.VehicleNo</label>
                }
                catch { }
            </p>
        </div>
        <div class="row" style="margin-right: 35px;margin-top:50px">
            <div class="row pull-right">Printed By : Officer Transport</div>
        </div>
        <div class="col-md-12" style="margin-right: 20px">
            <div class="row pull-right"> This is electronically generated vehicle requisition form which is valid without signature.</div>


        </div>
        <div class="col-md-12" style="margin-right: 20px">
            <div class="row"><hr></div>
        </div>

    </div>
</div>
@section Scripts {
    <script>
        $("#navContent").hide();

        //$(".navbar-header").hide();

        $("#footerId").hide();
    </script>
}

