@using VehicleRequisitionApp.Models
@model VehicleRequisitionApp.Models.TblRequisitionDetail
@{
    ViewBag.Title = "Print";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <style type="text/css">
        p {
            font-size: 14px;
        }

            p label {
                font-family: "Times New Roman";
                /*color: black;*/
            }

        label {
            font-family: italic;
        }

       
    </style>
}
<div class="navbar-fixed-top" style="margin-left: 50px">

    @*<img src="~/Images/logo.png" height="80"/>  <img class="pull-right" src="~/Images/CEGIS_logo.png" height="60" />*@
    <h3 style="text-align: center">CEGIS, DHAKA</h3>
    <h4 style="text-align: center; text-decoration: underline">VEHICLES REQUISITION</h4>
    <h4 style="text-align: center">(OFFICIAL)</h4>
    @*<hr />*@
    <div class="row">
        <div class="col-md-10 col-md-offset-2">
            <p style="margin-right: 20px" class="pull-right">
                <b>Date :</b>
                <label>@Model.RequestSubmissionDate.ToString("dd-MM-yyyy")</label>
            </p>
        </div>
    </div>

    <table class="table table-bordered">
        <tr>
            <td colspan="5">
                <p>
                    <b>Requester's Name :</b>
                    @Model.LookUpEmployee.EmpFullName
                </p>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <p>
                    <b>Designation :</b>
                    @Model.LookUpEmployee.EmpDesignation
                </p>
            </td>
            <td colspan="3">
                <p>
                    <b>Project :</b>
                    @Model.LookupProject.ProjectCode
                </p>

            </td>
        </tr>

        <tr>
            <td colspan="5">
                <p>
                    <b>Date Required :</b>
                    @Model.RequiredFromDate.ToString("dd-MM-yyyy")
                </p>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <p>
                    <b>Time Required :</b>
                    @Model.RequiredFromDate.ToString("t")
                </p>
            </td>
            <td colspan="3">
                <p>
                    <b>hour to :</b>
                    @Model.RequiredToDate.ToString("t")
                </p>

            </td>
        </tr>

        <tr>
            <td colspan="5">
                <p>
                    <b>Place : </b>
                    @Model.Place
                </p>
            </td>
        </tr>

        <tr>
            <td colspan="5">
                <p>
                    <b>Reason : </b>
                    @Model.Reason
                </p>
            </td>
        </tr>
        <tr>
            <td style="width: 290px">
                <p>
                    <b>Actual Time used from :</b>
                    @Model.UsedFromKM
                </p>
            </td>
            <td>
                <p>
                    <b>To :</b>
                    @Model.UsedToKM
                </p>

            </td>
            <td style="width: 30px">
                <p>
                    km.
                </p>

            </td>
            <td style="width: 180px">
                <p>
                    <b>From : </b>
                    @(Model.ActuallyUsedFromDate != null ? Convert.ToDateTime(Model.ActuallyUsedFromDate).ToString("t") : null)
                </p>

            </td>
            <td>
                <p>
                    <b>To :</b>
                    @(Model.ActuallyUsedFromDate != null ? Convert.ToDateTime(Model.ActuallyUsedToDate).ToString("t") : null)
                </p>

            </td>
        </tr>


       

    </table>
<div class="row">
    <div class="col-md-12">
        <h4>
                Reviewed & Approved
            </h4>
        </div>
    </div>
<table class="table table-bordered">
    <tr>
        <td colspan="5">
            <p>
                <b>By: Admin. officer/Admin. Asstt : </b>
                @ViewBag.AdminTransport
                
            </p>

        </td>
    </tr>
    <tr>
        <td colspan="5">
            <p>
                <b>Driver Assigned : </b>
                @try
                {
                    <label>@Model.LookUpDriverEmployee.EmpFullName</label>
                }
                catch
                {
                }
            </p>
        </td>
    </tr>

    <tr>
        <td colspan="5">
            <p>
                <b>Vehicle No : </b>
                @try
                {
                    <label> @Model.LookupVehicles.VehicleNo</label>
                }
                catch
                {
                }
            </p>
        </td>
    </tr>


</table>

    <table>
        <tr>
            @foreach (TblRequestApprovalDetail item in ViewBag.ApprovalStatusDetails)
            {         
                @*<td>@item.LookUpEmployeeAuthority.EmpFullName</td>
                <td>@item.LookUpEmployeeAuthority.EmpDesignation</td>*@
                <td style="padding-right: 20px">                   
                        <b style="font-size: 16px;text-decoration:underline">@item.Comments</b>
                    <p>@item.LookUpEmployeeAuthority.EmpFullName</p>
                    
                </td>
            }
            
        </tr>

    </table>

    <div class="row" style="margin-top: 30px">
        @*<div>
                <p style="font-size: 20px" class="pull-right"><b>Requisition Catergory : </b>@Model.LookupRequisitionCategorys.RequisitionCategory</p> @Html.EditorFor(model => model.LookupRequisitionCategorys.RequisitionCategory, new {htmlAttributes = new {@class = "form-control"}})
            </div>*@
        <div class="row" style="margin-right: 35px;margin-top:50px">
            <div class="row pull-right">
                <p>Printed By : Officer Transport</p>
            </div>
        </div>
        <div class="col-md-12" style="margin-right: 20px">
            <div class="row pull-right">
                <p> This is electronically generated vehicle requisition form which is valid without signature.</p>
            </div>
        </div>
        
        @*<div class="col-md-12" style="margin-right: 20px">
            <div class="row"><hr/></div>
        </div>*@

    </div>
</div>
@section Scripts {
    <script>
        $("#navContent").hide();

        //$(".navbar-header").hide();

        $("#footerId").hide();
    </script>
}

