@using VehicleRequisitionApp.Models
@model VehicleRequisitionApp.Models.TblRequisitionDetail
@*@{
        ViewBag.Title = "Print";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@

@section Styles {
    <style type="text/css">
    </style>
}
<div class="navbar-fixed-top">

    <img src="~/Images/logo.png" height="80"/>  <img class="pull-right" src="~/Images/CEGIS_logo.png" height="60" />
    <h3 style="text-align: center">CEGIS, DHAKA</h3>
    <h4 style="text-align: center; text-decoration: underline">VEHICLES REQUISITION</h4>
    <h4 style="text-align: center">(OFFICIAL)</h4>
    <hr/>

    <div class="row" style="margin-top: 30px">
        @*<div>
                <p style="font-size: 20px" class="pull-right"><b>Requisition Catergory : </b>@Model.LookupRequisitionCategorys.RequisitionCategory</p> @Html.EditorFor(model => model.LookupRequisitionCategorys.RequisitionCategory, new {htmlAttributes = new {@class = "form-control"}})
            </div>*@
        <div class="row">
            <div class="col-md-11 col-md-offset-1">
                <p style="font-size: 18px" class="pull-right"><b>Submission Datetime :</b> @Model.RequestSubmissionDate</p>
            </div>
        </div>
        <div class="col-md-12" style="margin-top: 30px">
            <p style="margin-right: 1px; font-size: 18px"><b>Requester Name :</b> @Model.LookUpEmployee.EmpFullName</p>
        </div>
        <div class="col-md-12">
            <p style="margin-right: 1px; font-size: 18px"><b>Designation : </b> @Model.LookUpEmployee.EmpDesignation &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Project Code : </b>@Model.LookupProject.ProjectCode</p>
        </div>
        <div class="col-md-12">
            <p style="margin-right: 1px; font-size: 18px"><b>Time Required : </b> @Model.RequiredFromDate &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>hour to : </b>@Model.RequiredToDate &nbsp;<b>hour</b>
            </p>
        </div>
        <div class="col-md-12">
            <p style="margin-right: 1px; font-size: 18px"><b>Place : </b> @Model.Place
            </p>
        </div>
        <div class="col-md-12">
            <p style="margin-right: 1px; font-size: 18px">
                <b>Reason : </b> @Model.Reason
            </p>
        </div>
        <div class="col-md-12">
            <p style="margin-right: 1px; font-size: 18px"><b>Actual Time used from :</b>@Model.UsedFromKM&nbsp;<b>to :</b>@Model.UsedToKM&nbsp;<b>KM. From : </b>@Model.ActuallyUsedFromDate&nbsp;<b>To :</b>@Model.ActuallyUsedToDate.ToString()</p>
        </div>
        <div class="col-md-12">
            <p style="margin-right: 1px; font-size: 18px">
                <b>Assigned Driver : </b> @Model.LookUpDriverEmployee.EmpFullName
            </p>
        </div>
        <div class="col-md-12">
            <p style="margin-right: 1px; font-size: 18px">
                <b>Assigned Vehicle : </b> @Model.LookupVehicles.VehicleNo
            </p>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $("#navContent").hide();

        //$(".navbar-header").hide();
        
        $("#footerId").hide();
    </script>
}

