@model IEnumerable<VehicleRequisitionApp.Models.LookUpEmployee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LookUpDivision.DivShortName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LookUpEmployeeType.EmpType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SortingSerialNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpInitial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpDesignation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpMobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpRoomNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpPresentAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpNid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpPaasportNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpBloodGroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpHighestDegree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpHighestDegreeMajorSubject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpCareerSummary)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LookUpDivision.DivShortName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LookUpEmployeeType.EmpType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SortingSerialNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpInitial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpFullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpDesignation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpMobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpRoomNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpPresentAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpNid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpPaasportNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpBloodGroup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpHighestDegree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpHighestDegreeMajorSubject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpCareerSummary)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmpId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmpId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmpId })
        </td>
    </tr>
}

</table>
