@model VehicleRequisitionApp.Models.TblUserGroupDistribution

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col-md-offset-3 col-md-6 col-md-offset-3">
        <fieldset style="padding-top: 20px">
            <legend>Assign Group</legend>

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                @Html.HiddenFor(model => model.UserGroupDistributionId)



                <div class="form-group">
                    <label class="control-label col-md-2">User Group Name</label>
                    <div class="col-md-10">
                        @Html.DropDownList("UserGroupsId", null, htmlAttributes: new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.UserGroupsId, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">User Name</label>
                    <div class="col-md-10">

                        <input type="text" name="UserId" value="@Model.TblUser.UserId" class="form-control " style="display: none"/>
                        <input type="text" value="@Model.TblUser.LookUpEmployee.EmpInitial : @Model.TblUser.LookUpEmployee.EmpFullName" class="form-control" readonly/>

                        @*@Html.DropDownList("UserId", null, htmlAttributes: new {@class = "form-control"})
                            @Html.ValidationMessageFor(model => model.UserId, "", new {@class = "text-danger"})*@
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Assign" class="btn btn-success pull-right"/>
                    </div>
                </div>
            </div>
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </fieldset>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
