@model IEnumerable<VehicleRequisitionApp.Models.TblUserGroupDistribution>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LookupUserGroup.UserGroupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TblUser.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SortingSerialNo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LookupUserGroup.UserGroupName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TblUser.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SortingSerialNo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserGroupDistributionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserGroupDistributionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserGroupDistributionId })
        </td>
    </tr>
}

</table>
